:root {
  --footer-bg: #003d91;
  --links-clr: #0072ce;
  --text-clr: #767676;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.header {
  position: fixed;
  background-color: #FFF;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 70px;
  -webkit-box-shadow: 3.5px 6.1px 30px rgba(0, 0, 0, 0.57);
          box-shadow: 3.5px 6.1px 30px rgba(0, 0, 0, 0.57);
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1028px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.header__wrapper-title a {
  font-family: 'Oswald',sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.header__wrapper-title a:hover {
  color: var(--links-clr);
}

.header__wrapper__links a {
  padding: 0 16px;
  font-family: 'Oswald',sans-serif;
  font-weight: 600;
  color: #000;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.header__wrapper__links a:hover {
  color: var(--links-clr);
}

.footer {
  width: 100%;
  background-color: var(--footer-bg);
  color: #FFF;
}

.footer__wrapper {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1028px;
}

.footer__wrapper__links a {
  font-family: 'Oswald',sans-serif;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  padding: 0 16px;
  color: #FFF;
}

.mainPart {
  margin-top: 70px;
  padding: 15rem 0;
  background: url("https://r.8b.io/215274/images/lol-promoart-4-4000w-h_kjlwbfdo-2000x1139.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.mainPart-title {
  font-family: 'Oswald',sans-serif;
  font-size: 6rem;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.mainPart-desc {
  font-family: 'Oswald',sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.mainPart-filter {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.secondBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.secondBlock__wrapper {
  max-width: 1028px;
  width: 1028px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondBlock__wrapper__text {
  max-width: 715px;
}

.secondBlock__wrapper__text-title {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 0 2px 4.8px rgba(30, 29, 50, 0.3);
}

.secondBlock__wrapper__text-desc {
  color: var(--text-clr);
  font-family: 'Play',sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6;
}

.thirdBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
  position: relative;
}

.thirdBlock__wrapper {
  max-width: 1028px;
  width: 1028px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thirdBlock__wrapper-filter {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.thirdBlock__wrapper__text {
  max-width: 522px;
}

.thirdBlock__wrapper__text-title {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  z-index: 2;
  position: relative;
}

.thirdBlock__wrapper__text-desc {
  padding-top: 1rem;
  font-family: 'Play',sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 300;
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 1028px) {
  :root {
    font-size: 12px;
  }
  .header__wrapper {
    max-width: 90vw;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 90vw;
  }
  .footer__wrapper__links {
    padding-bottom: 30px;
  }
  .mainPart-desc {
    width: 80vw;
    text-align: center;
  }
  .secondBlock__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .secondBlock__wrapper .gatsby-image-wrapper {
    margin-bottom: 2rem;
    width: 80vw !important;
    height: 80vw !important;
  }
  .secondBlock__wrapper__text {
    max-width: 80vw;
  }
  .thirdBlock {
    padding-top: 0;
  }
  .thirdBlock__wrapper {
    max-width: 80vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .thirdBlock__wrapper .gatsby-image-wrapper {
    width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */